<div class="card card-grid h-full min-w-full">
	<div class="card-header">
		<h3 class="card-title">
			Mes lectures terminées
		</h3>
		<form method="get" action="{{ path('app.home') }}">
            <div class="input-group">
                <input name="searchFinished" id="searchFinished" placeholder="Rechercher" type="text" value="{{ searchFinishedTerm }}"/>
                <button type="submit"><i class="ki-filled ki-magnifier"></i></button>
            </div>
        </form>
	</div>
	<div class="card-body">
		<div id="read-books-table" data-datatable="true" data-datatable-page-size="5">
			<div class="scrollable-x-auto">
				<table class="table table-border" data-datatable-table="true">
					<thead>
						<tr>
							<th class="min-w-[280px]">
								<span class="sort asc">
									<span class="sort-label">Livre</span>
									<span class="sort-icon"></span>
								</span>
							</th>
							<th class="min-w-[135px]">
								<span class="sort asc">
									<span class="sort-label">Catégorie</span>
									<span class="sort-icon"></span>
								</span>
							</th>
							<th class="min-w-[135px]">
								<span class="sort asc">
									<span class="sort-label">Note</span>
									<span class="sort-icon"></span>
								</span>
							</th>
						</tr>
					</thead>
					<tbody>
						{% for bookFinished in booksFinished %}
							<tr>
								<td>
									<div class="flex flex-col gap-2">

										<a class="leading-none font-medium text-sm text-gray-900 hover:text-primary" href="#">
											{{ bookFinished.book.name }}
										</a>
										<span class="text-2sm text-gray-700 font-normal leading-3">
											{{ bookFinished.book.description }}
										</span>
									</div>
								</td>
								<td>{{ bookFinished.book.category.name }}</td>
								<td>
									<div class="rating">
										{% for i in 1..bookFinished.rating %}
											<div class="rating-label checked">
												<i class="rating-on ki-solid ki-star text-base leading-none"></i>
												<i class="rating-off ki-outline ki-star text-base leading-none"></i>
											</div>
										{% endfor %}
										{% for i in (bookFinished.rating + 1)..5 %}
											<div class="rating-label">
												<i class="rating-on ki-solid ki-star text-base leading-none"></i>
												<i class="rating-off ki-outline ki-star text-base leading-none"></i>
											</div>
										{% endfor %}
									</div>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			<div class="card-footer justify-center md:justify-between flex-col md:flex-row gap-5 text-gray-600 text-2sm font-medium">
				<div class="flex items-center gap-2 order-2 md:order-1">
					Show
					<select class="select select-sm w-16" data-datatable-size="true" name="perpage"></select>
					per page
				</div>
				<div class="flex items-center gap-4 order-1 md:order-2">
					<span data-datatable-info="true"></span>
					<div class="pagination" data-datatable-pagination="true"></div>
				</div>
			</div>
		</div>
	</div>
</div>
